<div class="container text-center">
  <h1>Cocktails</h1>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-md-4">
      <%= link_to  cocktail_path(cocktail) do %>
        <div class="card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-category"><%= cocktail.name %></div>
          <div class="card-description">
              <% cocktail.doses.each do |dose| %>
              <p class="text-xs-center"><%= dose.description %> <%= dose.ingredient.name %> </p class="text-xs-center">
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <br>
</div>


